* {
	margin: 0;
	padding: 0;
}

.content {
	min-height: calc(100vh - 100px);
	background-color: orange;
}

.footer {
	height: 100px;
	background-color: gray;
}

p {
	text-align: justify;
	padding: 10px;
}
